services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
      target: prod
    container_name: api
    restart: unless-stopped
    ports: 
      - 3000:3000
    volumes:
      - ./uploads:/app/uploads
    env_file:
      - ./backend/.env
    depends_on:
      db:
        condition: service_healthy
  db:
    image: postgres
    restart: unless-stopped
    shm_size: 128mb
    env_file:
      - ./db/.env
    ports:
      - 5432:5432
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U admin -d images']
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 5s

  adminer:
    image: adminer
    restart: unless-stopped
    ports:
      - 8080:8080